<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.tripshot.board.mapper.BoardMapper">
	<!-- 게시글 생성 -->
	<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO board (
			user_id,
			title,
			create_date,
			weather,
			season,
			shoot_date,
			image,
			content,
			spot,
			hit,
			heart_count,
			coordinate
		) VALUES (
					 #{userId},
					 #{title},
					 now(),
					 #{weather},
					 #{season},
					 #{shootDate},
					 #{image},
					 #{content},
					 #{spot},
					 #{hit},
					 #{heartCount},
					 ST_GeomFromText('POINT(${longitude} ${latitude})')
				 )
	</insert>


	<!-- 상세조회 -->
	<select id="selectOne" resultType="Board">
		select
			id,
			user_id as userId,
			title,
			create_date as createDate,
			weather,
			season,
			shoot_date as shootDate,
			image,
			content,
			spot,
			hit,
			heart_count as heartCount,
			ST_X(coordinate) AS longitude,
			ST_Y(coordinate) AS latitude
		from board
		where id = #{id}
	</select>

	<!-- 목록조회 -->
	<select id="selectAll" resultType="Board">
		select
			id,
			user_id as userId,
			title,
			create_date as createDate,
			weather,
			season,
			shoot_date as shootDate,
			image,
			content,
			spot,
			hit,
			heart_count as heartCount,
			ST_X(coordinate) AS longitude,
			ST_Y(coordinate) AS latitude
		from board
	</select>

	<!-- 검색 -->
	<select id="search" resultType="Board" >
		select
			id,
			user_id as userId,
			title,
			create_date as createDate,
			weather,
			season,
			shoot_date as shootDate,
			image,
			content,
			spot,
			hit,
			heart_count as heartCount,
			ST_X(coordinate) AS longitude,
			ST_Y(coordinate) AS latitude
		from board
		<where>
			<!-- season이 null이 아니면 season과 season 컬럼의 동일여부를 비교 -->
			<if test="season != null">
				AND season = #{season}
			</if>
			<!-- startDate가 null이 아니면 startDate보다 늦거나 같은 shoot_date 컬럼을 찾음 -->
			<if test="startDate != null">
				AND shoot_date &gt;= #{startDate}
			</if>
			<!-- endDate가 null이 아니면 endDate보다 빠르거나 같은 shoot_date 컬럼을 찾음 -->
			<if test="endDate != null">
				AND shoot_date &lt;= #{endDate}
			</if>
			<if test="keyword != null">
				AND  (
		    		title like concat('%',#{keyword},'%')
					OR content like concat('%',#{keyword},'%')
					OR spot like concat('%',#{keyword},'%')
					)
			</if>
		</where>
	</select>


</mapper>